# Google Gemini API Key
GOOGLE_API_KEY=your-google-api-key-here

# Model Configuration
MODEL_NAME=gemini-2.5-flash
MAX_TOKENS=4098

# Server Configuration
HOST=0.0.0.0
PORT=8000

# Authentication
API_KEYS=fd53cda9e372cc74319d047c60acdcc06e62e7e5550a92d842c425b82df84e4d